@charset "utf-8";
@import url("responses.css") screen

;

@media (min-width: 625px){
	.top-logo {
		width: 25vw;
	}
	
}
/*
@media (min-width: 1150px) {
	.header-nav{
		font-size: 20px;
	}
}
@media (min-width: 750px) and (max-width: 965px) {
	.header-nav {
		font-size: 13px;
	}
}
@media (min-width: 625px) and (max-width: 750px){
	.header-nav {
		font-size: 11.5px;
	}
}
*/

@media (max-width: 625px) {
	.header {
		display: none;
	}
	.mobileNav {
		display: block;
	}
	body {
		font-size: 3vw;
	}
}
@media (min-width: 625px) {
	.header {
		display: block;
	}
	.mobileNav {
		display: none;
	}
	body {
		font-size: 16px;
	}
}
