body {
	font-family: Helvetica-Neue, Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: white;
	margin: 0;
	-webkit-font-smoothing: antialiased;
/*	height: 100%;*/
	background-color: #232323;
}

a {
	text-decoration: none;
}

.container {
	background-color: #232323;
}
img.img-fit {
	width: 100%;
	height: auto;
}
.main-heading {
	width: 100%;
	position: relative;
/*	height: 150px;*/
/*	justify-content: center;*/
	margin-bottom: 0px;
	height: 30vw;
	display: block;
}
.heading-inner{
	display: flex;
	height: 30vw;
	align-items: center;
	justify-content: center;
}

.heading-img {
	display: flex;
	width: 100%;
	filter: opacity(.5);
	position: absolute;
	z-index: 1;
	/*	max-height:  30vw;*/
	height: inherit;
	object-fit: cover;
}
.title {
	position: absolute;
	z-index: 2;
	display: inline-block;
	text-transform: uppercase;
	font-size: 5vw;
	text-shadow: .0625em 0.0625em 0.05em #232323;
	margin-top: 0px;
	width: 100%;
	text-align: center;
}
.green {
	color: #0db04b;
}

.section {
	width: 100%;
	display: inline-block;
	position: relative;
	background-color: #232323;
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0em;
}

.section-heading {
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 1.5em;
/*	font-size: 2.5vw;*/
}

.section-body {
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.button {
	padding: .5em;
	border-radius: .5em;
	position: relative;
	margin: 1em;
	m
}
.btn-green {
	background-color: #0db04b;
	color: #FFFFFF;
}

#footer-1 {
	margin: 0em;
	background-color: #141414;
	padding: 2em;
	text-align: center;
}
footer ul {
	list-style: none;
	list-style-type: none;
	
	
}